 #image img{ 
    width:160px;
    height:60px;
}
html{
    font-size: 100%;
}
#navbar-color{
    background-color: black!important ;
    color:#ffffff;  
}
.search i{
    color:white;
}

.row{
    display: flex;
    
}
.col1{
    width:55%;
    height:100%;
    
}
.col1 img{
    width:100%;
    height:100%;
}
.col2{
    width:14%;
   
}
.col2-image{
    width:100%;
    height:20%;
    position: relative;
    
}



.col3{
    width:30%;
    margin-top: 2.5rem;
  
}
.flex{
    display: flex;
    justify-content:space-evenly;

    align-items: center;
}
.flex-item1{
text-align: center;
}
.col3 h2{
    margin:0rem 1rem;
    font-size: 1.4rem;
}
.flex-item{
margin-left: 1.1rem;
}
.col3 p{
    margin:1rem;
}
.col3 h1,h4 {
    margin: 0rem 1rem;
}
.btn1{
    margin:1rem;
    width:90%;
    font-size: 1.9rem;
    font-weight: bold;
}
@media only screen  and (max-width:768px)
{
    .row{
        flex-direction: column;
    }
    .col2{
        display: none;
    }
    .col1,
    .col3{
        width:100%;
    }
    #image img{
        width:100px;
        height:40px;
    }
    html{
        font-size: 70%;
    }
    .col3{
        margin-top:1rem;
        padding:1rem;
    }
  
}
@media only screen and (min-width:768px ) and (max-width:1070px)
{
    html{
        font-size: 75%;
    }
}