*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    font-size: 100%;
}
.container{
    width:50%; margin:2rem;
}
.text{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:100%;
    
    margin-bottom:1rem;


}
.text1 h2{
    font-size: 2rem;
    margin-left: 0.2rem;
}
.icon{
   
    color:black;
    margin:1rem;
}
.icon img{
    width:50px;
    height:50px;
}

.text2{
    display: flex;
}
.icon1{
    margin:1.5rem 2rem;
    font-size: 1.3rem;
}
.text3 p{
    margin:1rem;
    font-size: 1.5rem;
}
@media only screen and (max-width:768px)
{
    .container{
        width:80%;
        margin:1rem;
    }
}
@media only screen and (max-width:458px)
{
    .container{
        width:100%;
        margin: 0;
    }
    html{
        font-size: 70%;
    }
    .text1 h2{
        font-size: 1.6rem;
    }
}